<!DOCTYPE html>
<html ng-app="<%= _.slugify(appname) %>">
  <head>

    <title><%= _.slugify(appname) %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">

    <base href="/">

    <!-- build:css app.css -->
      <!-- bower:css -->
      <!-- endinject -->

      <!-- inject:css -->
      <!-- endinject -->
    <!-- endbuild -->

  </head>
  <body>

    <strong><%= appname %></strong>

    <div ng-view></div>

    <!-- build:js app.js -->
      <!-- bower:js -->
      <!-- endinject -->

      <!-- inject:js -->
      <!-- endinject -->
    <!-- endbuild -->

  <script src="http://localhost:35729/livereload.js?snipver=1"></script>

  </body>
</html>
