<!DOCTYPE html>
<html ng-app="<%= appname %>">
  <head>

    <base href="/">

    <title><%= appname %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">

    <!-- build:css app.css -->

    <!-- bower:css -->
    <!-- endinject -->

    <link rel="stylesheet" href="styles/css/app.css">

    <!-- endbuild -->

  </head>
  <body>

    <strong><%= appname %></strong><% if (filters.auth) { %>

    <nav-bar></nav-bar><% } %>

    <div ng-view></div><% if (filters.sockets) { %>

    <script src="socket.io/socket.io.js"></script><% } %>

    <!-- build:js app.js -->

    <!-- bower:js -->
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->

    <!-- endbuild --><% if (filters.reload === 'livereload') { %>

    <script src="http://localhost:35729/livereload.js?snipver=1"></script><% } %>

  </body>
</html>
